a {
  text-decoration: none;
  border-bottom: 1px dotted;
}

a:hover {
  border-bottom: 1px solid;
}

blockquote {
  display: inline-block;
  position: relative;
  padding: 0.75rem 1rem 0.75rem 1.25rem;
  margin: 1rem 0;
  border: 1px solid transparent;
  color: #004085;
  background-color: #cce5ff;
  border-color: #004085;
  border-radius: 0.25rem;
  font-style: italic;
  font-weight: bold;
}

body {
  font-family: 'molengo', sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  margin: 2rem;
}

.code pre {
  margin: 1rem;
  padding: 1rem;
  background: #222222;
  color: lightgreen;
  font-size: 1.1rem;
}

.code pre .keyword {
  color: lightseagreen;
}

.code pre .function {
  color: yellow;
}

.code pre .delimiter {
  color: #aaaaaa;
}

.code pre .string {
  color: #dddddd;
}

dl.job-details {
  border-top: 1px grey solid;
  margin-top: 1rem;
}

figcaption {
  text-align: center;
}

.flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flexbox .column {
  flex: 1 1 0px;
  min-width: 40rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: bold;
  line-height: 1.0;
}

h1,
.h1 {
  font-size: 2.0rem;
}

h2,
.h2 {
  font-size: 1.66rem;
}

h3,
.h3 {
  font-size: 1.5rem;
}

h4,
.h4 {
  font-size: 1.33rem;
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1.1rem;
}

h2.h-horizontal,
h3.h-horizontal,
h4.h-horizontal {
  display: inline-block;
}

.h-horizontal {
  display: inline-block;
}

.h-horizontal button {
  vertical-align: text-top;
  padding: 0.1rem 0.3rem 0;
  margin-left: 1rem;
  margin-top: -0.66rem;
}

.h-horizontal button .collapse-button::after {
  font-family: 'mlibby-icons' !important;
  content: '\f068';
}

.h-horizontal button.collapsed .collapse-button::after {
  content: '\f067';
}

.iconic {
  list-style: none;
}

.iconic dt {
  float: left;
  clear: left;
  width: 1.66rem;
  font-size: 1.66rem;
  vertical-align: middle;
}

.iconic dd {
  margin: 0 0 0 2.5rem;
  margin-bottom: 1.5rem;
}

nav img {
  vertical-align: middle;
  margin-top: -10px;
  width: 120px;
}

.notes code,
.notes samp {
  font-family: FiraCode, monaco, monospace;
  font-weight: bold;
}

.notes .code {
  font-family: FiraCode, monaco, monospace;
  font-weight: normal;
  margin: 1rem;
  padding: 0.75rem;
  border-radius: 0.5rem;
  background-color: black;
  color: lawngreen;
}

.notes kdb {
  font-family: FiraCode, monaco, monospace;
  font-weight: normal;
  padding: 0.25rem;
  border-radius: 0.25rem;
  background-color: black;
  color: lawngreen;
}

.notes li {
  margin-bottom: 0.5rem;
}

.post .date {
  font-style: italic;
}

.smallish {
  max-width: 90%;
  margin: 5%;
}

h2.h-horizontal {
  display: inline-block;
}

button.by-header,
select.by-header {
  margin-left: 15px;
  width: auto;
  vertical-align: text-bottom;
  display: inline-block;
}

.tt-output {
  font-family: 'firacode', monospace;
  font-size: 1.25rem;
  line-height: 1.66rem;
  white-space: pre-wrap;
}

.tt-output.user-input {
  font-style: italic;
  font-weight: bold;
}

.tt-label {
  font-size: 0.9rem;
  font-weight: bold;
  font-style: italic;
  text-align: right;
  margin-left: 15px;
  margin-top: 3px;
}