a {
  text-decoration: none;
  border-bottom: 1px dotted;
}

a:hover {
  border-bottom: 1px solid;
}

blockquote {
  display: inline-block;
  position: relative;
  padding: 0.75rem 1rem 0.75rem 1.25rem;
  margin: 1rem 0;
  border: 1px solid transparent;
  color: #004085;
  background-color: #cce5ff;
  border-color: #004085;
  border-radius: 0.25rem;
  font-style: italic;
  font-weight: bold;
}

body {
  font-family: Verdana, Segoe, sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  margin: 2rem;
}

figcaption {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 1.0;
}

h1 {
  font-size: 2.0rem;
}

h2 {
  font-size: 1.66rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.33rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1.1rem;
}

.iconic {
  list-style: none;
}

.iconic dt {
  float: left;
  clear: left;
  width: 1.66rem;
  font-size: 1.66rem;
  vertical-align: middle;
}

.iconic dd {
  margin: 0 0 0 2.5rem;
  margin-bottom: 1.5rem;
}

nav img {
  vertical-align: middle;
  margin-top: -10px;
  width: 120px;
}

nav .nav-icon {
  margin-right: 25px;
}

nav .nav-links {
  display: inline-block;
}

.recipe li {
  list-style: none;
  margin-bottom: 0.5rem;
}

.recipe .nutrition {
  float: right;
  margin-left: 4rem;
}

.recipe ul {
  padding: 0;
}

@media print {
  .recipe nav .nav-links {
    display: none;
  }

  .recipe nav .nav-icon {
    display: block;
    float: right;
    margin: 0 0 50px 50px;
    text-decoration: none;
    border-bottom: 0;
  }

  .recipe .nutrition {
    display: none;
  }
}