a {
    text-decoration: none;
    border-bottom: 1px dotted;
}

a:hover {
    border-bottom: 1px solid;
}

blockquote {
    display: inline-block;
    position: relative;
    padding: 0.75rem 1rem 0.75rem 1.25rem;
    margin: 1rem 0;
    border: 1px solid transparent;
    color: #004085;
    background-color: #cce5ff;
    border-color: #004085;
    border-radius: 0.25rem;
    font-style: italic;
    font-weight: bold;
}

body {
    font-family: Verdana, Segoe, sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fff;
    margin: 2rem;
}

figcaption {
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    line-height: 1.0;
    margin-top: 0.66em;
margin-bottom: 0.66em;
}

h1 {
    font-size: 2.0rem;
}

h2 {
    font-size: 1.66rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.33rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1.1rem;
}

.iconic {
    list-style: none;
}

.iconic dt {
    float: left;
    clear: left;
    width: 1.66rem;
    font-size: 1.66rem;
    vertical-align: middle;
}

.iconic dd {
    margin: 0 0 0 2.5rem;
    margin-bottom: 1.5rem;
}

nav img {
    vertical-align: middle;
    margin-top: -10px;
    width: 120px;
}

nav .nav-icon {
    margin-right: 25px;
}

nav .nav-links {
    display: inline-block;
}

.recipe main {
  width: calc(100% - 24rem);
}

.recipe .nutrition {
    position: absolute;
    top: calc(120px + 5.75rem);
    right: 2rem;
    margin-left: 4rem;
    width: 18rem;
    border: 0.33rem solid black;
    padding: 0.5rem;
}

.recipe .nutrition dt.calories {
  font-size: 1.66rem;
  font-weight: bold;
  width: 66%;
}

.recipe .nutrition dt.calories::before {
  content: "Amount per serving";
  font-size: 0.75rem;
  clear: both;
  float: left;
  width: 100%;
}

.recipe .nutrition dd.calories {
  font-size: 2rem;
  font-weight: bold;
  text-align: right;
  padding-top: 0.6rem;
}

.recipe .nutrition dd.calories::after {
  clear: both;
  float: left;
  width: 116%;
  content: "% Daily Value*";
  border-top: 0.2rem solid black;
  border-bottom: 1px solid black;
  font-size: 0.75rem;
  padding-top: 0.2rem;
  margin-left: -2.5rem;
}

.recipe .nutrition dd.calories .dv {
  display: none;
}

.recipe .nutrition dd.serving-size {
  text-align: right;
}

.recipe .nutrition dd.sub,
.recipe .nutrition dd.total,
.recipe .nutrition dd.vitamin {
line-height: 1.33rem;
  border-bottom: 1px solid black;
  margin-left: auto;
}

.recipe .nutrition dd.sub .dv,
.recipe .nutrition dd.total .dv {
  font-weight: bold;
}

.recipe .nutrition dd.sub .dv,
.recipe .nutrition dd.total .dv,
.recipe .nutrition dd.vitamin .dv {
  text-align: right;
  float: right;
}

.recipe .nutrition dl {
  padding: 0;
  margin: 0;
}

.recipe .nutrition dt {
  float: left;
  margin-right: 0.5rem;
}

.recipe .nutrition dt.sub {
  padding-left: 1rem;
}

.recipe .nutrition dt.sub,
.recipe .nutrition dt.total,
.recipe .nutrition dt.vitamin {
  clear: both;
  line-height: 1.33rem;
}

.recipe .nutrition dt.total {
  font-weight: bold;
}

.recipe .nutrition .vitamin.first {
  border-top: 0.66rem solid black;
}

.recipe .nutrition .vitamin.last {
  border-bottom: 0.33rem solid black;
}

.recipe .nutrition h2 {
  font-weight: bold;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid black;
}

.recipe .nutrition .footnote {
  margin: 0.25rem 0 0.5rem 0;
  padding: 0;
  font-size: 0.8rem;
}

.recipe .nutrition .serving-size {
  font-weight: bold;
  padding-bottom: 0.25rem;
  border-bottom: 0.66rem solid black;
}

.recipe .nutrition .source {
  border-top: 1px solid black;
  margin: 0;
  padding: 0;
}

.recipe ol {
    padding-left: 1.5rem;
}

.recipe ol li {
    margin-bottom: 0.5rem;
}

.recipe ul {
  padding: 0;
}

.recipe ul li {
  list-style: none;
  margin-bottom: 0.5rem;
}

.recipe ul li .qty {
  display: inline-block;
  width: 4rem;
}

.recipe ul li .measure {
  display: inline-block;
  width: 1.5rem;
}

@media print {
    .recipe main {
      width: 100%;
    }

    .recipe nav .nav-links {
        display: none;
    }
    .recipe nav .nav-icon {
        display: block;
        float: right;
        margin: 0 0 50px 50px;
        text-decoration: none;
        border-bottom: 0;
    }
    .recipe .nutrition {
        display: none;
    }
}